<!-- .aside -->
<aside class="{{bg}} dk aside hidden-print {%if navxs %} nav-xs {% endif %}" id="nav">
    <section class="vbox">
        <section class="w-f-md scrollable">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0"
                 data-size="10px" data-railOpacity="0.2">

                <!-- nav -->
                <nav class="nav-primary hidden-xs">

                    
                    <ul class="nav" data-ride="collapse">
                        <!--111111111111111111-->
                        {% if 4|getmode('')|length==0 %}
                        {%set ism = 20%}
                        {%else%}
                        {%set ism = 0%}
                        {%endif%}
                        {% for i, v in controller.MenuGroup%}
                        {% if i!= 0 and i != 99  and i !=ism %}

                        <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
                            <span class="pull-right"><a href="#{{ i }}"><i class="icon-plus i-lg"></i></a></span>
                            {{ v }}
                        </li>
                        {% for v in controller.adminmenu[i] %}
                        {% if controller.tactive == v.url %}
                        <li class="active">{% else %}
                        <li>{% endif %}
                            <a href="javascript:void(0);" class="auto">
                        <span class="pull-right text-muted">
                          <i class="fa fa-angle-left text"></i>
                          <i class="fa fa-angle-down text-active"></i>
                        </span>
                                {%if v.ico%}
                                <i class="fa {{v.ico}}">
                                </i>
                                {%else%}
                                <i class="icon-screen-desktop icon">
                                </i>
                                {%endif%}
                                <span>{{v.title}}</span>
                            </a>
                            <ul class="nav dk text-sm">
                                {% for c in v.children %}
                                {% if controller.active == c.url %}
                                <li class="active">{% else %}
                                <li>{% endif %}
                                    <a href="/{{c.url}}" class="auto">
                                        <i class="fa fa-angle-right text-xs"></i>

                                        <span>{{c.title}}</span>
                                    </a>
                                </li>
                                {% endfor%}
                            </ul>
                        </li>
                        {% endfor%}
                        {% endif %}
                        {% endfor %}
                        <!--11111111111111111111-->
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </section>

        <footer class="footer hidden-xs no-padder text-center-nav-xs">
            <div class="bg hidden-xs ">
                
            </div>
        </footer>
    </section>
</aside>
<!-- /.aside -->